[autotune_tmc extruder]
motor: moons-cse14hra1l410a

[autotune_tmc stepper_x]
motor: moons-ms14hs5p4150
[autotune_tmc stepper_y]
motor: moons-ms14hs5p4150

#[autotune_tmc stepper_z]
#motor: ldo-42sth48-2004ac
